.welcome-section {
    width: 100%;
    background: linear-gradient(135deg, #118FCD 0%, #2711CD 100%);
    color: white;
    padding: 50px 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.welcome-section h1 {
    font-size: 2.5rem;
    animation: fadeInDown 1s ease-out;
}

.welcome-section span {
    font-size: 1.4rem;
}

.welcome-section p {
    font-size: 1.2rem;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-container img {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout-button .btn {
    transition: background-color 0.3s, transform 0.3s;
}

.logout-button .btn:hover {
    background-color: #ff4b5c;
    transform: scale(1.05);
}



@media (max-width: 768px) {
    .welcome-section {
        padding: 30px 15px;
    }

    .welcome-section h1 {
        font-size: 2rem;
    }

    .welcome-section p {
        font-size: 1rem;
    }

    .image-container {
        margin-top: 15px;
    }
}

@media (max-width: 576px) {
    .welcome-section h1 {
        font-size: 1.5rem;
    }

    .welcome-section p {
        font-size: 0.9rem;
    }

    .logout-button {
        position: static;
        margin-top: 20px;
    }
}
