@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/Views/NotFound.css"/>
    <link rel="icon" href="~/images/servidor-en-la-nube.png" type="image/x-icon"/>
</head>

<body>

<div class="position-absolute top-50 start-50 translate-middle">
    <span>Página no encontrada</span> <br/>
    <p class="text-center">404</p>
</div>
</body>

</html>