@{
    ViewData["Title"] = "Inicio";
}

<head>
    <link rel="stylesheet" href="~/css/Views/Inicio.css"/>
</head>

<div class="container my-5">

    <div class="welcome-section position-relative mt-4">
        <h1>Universidad Bancaria de México</h1>
        <span>Bienvenido @ViewBag.NombreCompleto</span>
        @foreach (var role in ViewBag.Roles)
        {
            <p>@role</p>
        }
    </div>

    <section>
        @await Html.PartialAsync("ghost-section")
    </section>

</div>