@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/Views/Home.css" />
</head>

<div class="container my-5">
    <div class="welcome-section position-relative">
        <h1>¡Bienvenido!</h1>
        <p>Universidad Bancaria de México</p>
    </div>
    <div class="image-container">
        <img src="images/Universidad-2022.jpg" alt="Universidad Bancaria de México" />
    </div>
</div>
