@page "/login"
@using AspireApp1.Web.Models
@layout Layout.EmptyLayout
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="page">
    <div class="container">
        <div class="login-box">
            <h2>Iniciar Sesión</h2>

            @if (_alertMessage != "")
            {
                <div class="alert alert-danger">@_alertMessage</div>
            }

            <Form >
                <div class="input-box">
                    <input type="text" @bind="_username" required placeholder="">
                    <label>Usuario</label>
                    <p>@_username</p>
                </div>
                <div class="input-box">
                    <input type="password" @bind="_password" required placeholder="">
                    <label>Contraseña</label>
                </div>
                <button type="button" class="login-btn" @onclick="ValidateUser">Entrar</button>
                <p class="register-text">¿No tienes una cuenta? <a href="#">Regístrate</a></p>
            </Form >
        </div>
    </div>
</div>

@code {
    private string? _username;
    private string? _password;
    private string? _alertMessage = "";
    
    private async Task ValidateUser()
    {
        var loginRequest = new { 
            Username = _username, 
            Password = _password 
        };

        var response = await Http.PostAsJsonAsync("auth/login", loginRequest);

        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<LoginResponse>();
            _alertMessage = $"Login exitoso: {result?.Message}";
            Navigation.NavigateTo("/auth/welcome");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            _alertMessage = "Datos incorrectos.";
        }
        else
        {
            _alertMessage = "Intente de nuevo más tarde.";
        }
    }

}