@page "/auth/alumnos/agregar-alumno"

<h3>Agregar Alumno</h3>

<input type="text" @bind="nombre" placeholder="Ingresa tu nombre" />

<label>Nombre ingresado: @nombre</label>

@code {
    private string nombre = string.Empty;
}