@page "/welcome/user"
@inject HttpClient Http

<PageTitle>User</PageTitle>

<h3>User List</h3>

@if (_users == null)
{
    <p><em>Loading...</em></p>
}
else if (_users.Count == 0)
{
    <p>No users found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Nombre</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Models.User>? _users;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _users = await Http.GetFromJsonAsync<List<Models.User>>("http://localhost:5561/api/users");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al obtener los usuarios: {ex.Message}");
        }
    }
}
