@{
    ViewData["Title"] = "Alumnos";
}

<div class="container my-5">
    <h2 class="mb-4 fw-bold p-2">Lista de Alumnos</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Carrera</th>
            <th>Grupo</th>
            <th>Fecha de Nacimiento</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var alumno in Model)
        {
            <tr>
                <td>@alumno.NombreAlumno</td>
                <td>@alumno.CarreraAlumno</td>
                <td>@alumno.GrupoAlumno</td>
                <td>@alumno.FechaNacimientoAlumno.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
</div>