h3[b-kwbnykdiej] {
    font-size: 1.5em;
    font-weight: bold;
}

.table[b-kwbnykdiej] {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr[b-kwbnykdiej] {
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
    text-align: left;
    font-weight: bold;
}

.table th[b-kwbnykdiej],
.table td[b-kwbnykdiej] {
    padding: 12px 15px;
    border: 1px solid #dddddd;
    vertical-align: middle;
}

.table tbody tr:nth-of-type(odd)[b-kwbnykdiej] {
    background-color: #f9f9f9;
}

.table tbody tr:hover[b-kwbnykdiej] {
    background-color: #f1f1f1;
}

.table td:nth-child(4)[b-kwbnykdiej],
.table td:nth-child(5)[b-kwbnykdiej],
.table td:nth-child(6)[b-kwbnykdiej],
.table td:nth-child(8)[b-kwbnykdiej],
.table td:nth-child(9)[b-kwbnykdiej] {
    color: #555555;
}

.nav-item[b-kwbnykdiej]  a {
    color: whitesmoke;
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-kwbnykdiej]  a:hover {
    background-color: rgba(30, 30, 30);
    color: white;
}