@model IEnumerable<AspireApp1.WebUbam.Models.Solicitante>
@{
    ViewData["Title"] = "Solicitantes";
}

<div class="d-flex justify-content-between align-items-center w-100 my-4">
    <h3>En construción...</h3>
</div>

