@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/Views/Login.css"/>
    <link rel="icon" href="~/images/servidor-en-la-nube.png" type="image/x-icon"/>
</head>
<body>

<div class="login-container d-flex justify-content-center align-items-center vh-100">
    <div class="login-card p-5 shadow-lg">
        <div class="m-4">
            <img src="~/images/ubam_login.png" class="img-fluid" alt="...">
        </div>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }

        <form method="post" asp-action="Login">
            <div class="form-group mb-4">
                <input type="text" name="Nombre_Usuario" class="form-control" id="email" placeholder="Nombre de usuario" required>
            </div>
            <div class="form-group mb-4">
                <input type="password" name="Clave_Usuario" class="form-control" id="password" placeholder="Clave" required>
            </div>
            <button type="submit" class="btn btn-primary w-100 py-2">Ingresar</button>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>